{{#if addAnnouncement}}
<h1>Announcement</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="body">Body</label>
        {{input value=body id="body"}}
      </div>
      <button {{action 'saveAnnouncement'}}>Save</button>
    </form>
  </div>
{{else}}
<button {{action 'announcementFormShow'}}>Add Announcement</button>
{{/if}}
